.features {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #ddd;

  .row {
    padding: 0 60px;
  }

  .highlights {
    // background-color: #f7f7f7;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .col-lg-4 {
    h2 {
      margin: 20px 0;
    }
    img {
      width: 140px;
    }
  }

  .featurette {
    margin-top: 60px;
  }
}
